
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow: scroll;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 10%;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 70vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 0 7px #000;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
}

.inputs input {
  width: 49%;
}

button {
  background-color: #16bc90;
}

.recent-scores {
  width: 50%;
}

.add-score {
  width: 50%;
}

table {
  border: 2px solid #000;
  padding: 0.5rem;
  width: 100%;
}

.recent-scores p {
  display: flex;
  justify-content: space-between;
}

footer {
  width: fit-content;
  margin-top: auto;
}
